body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  background: linear-gradient(to right, rgb(215, 123, 255), rgb(253, 94, 117));
}
html {
  font-size: 62.5%;
}
